<div>
  <h1>Digital Supersters</h1>
  <ul>
    <li ng-repeat="player in players">
      {{ player.first_name }} {{ player.last_name }}
      -
      <button ng-click="deletePlayer(player.id)">
        Give Atari2600 to SUPERSTAR
      </button>
    </li>
  </ul>
</div>
<div>
  <h2>Add a new Superstar</h2>
  <p>
    <label>First Name:</label>
    <input ng-model="newPlayer.player.first_name" type="text">
  </p>
  <p>
    <label>Last Name:</label>
    <input type="text" ng-model="newPlayer.player.last_name">
  </p>
  <input type="submit" ng-click="createPlayer()" value="Create Player">
</div>
